<h4>Enter after the url http://localhost:4200/users</h4>
<p>add this / symbol (slash) and a word</p>
<p>example: http://localhost:4200/users/test</p>

<div class="letters" *ngIf="currentName?.length > 0">
    <hr>
    <h3>Each word's frequency</h3>
    <ul *ngIf="currentName?.length > 0">
        <li *ngFor="let r of currentName">Word: "<strong>{{r.current}}</strong>" comes => {{r.cnt}} times</li>
    </ul>
    <hr>
    <h3>Longest word</h3>
    <p>The longest name is: "<strong>{{longestName}}</strong>"</p>
    <hr>

    <h3>Most common letter</h3>
    <p>Most Frequent Letter is: "<strong>{{frequentLetter}}</strong>" comes {{frequentNumber}} times.</p>
</div>